.hello{color: white; background-color: blue; text-align: center;
}

#bangladesh{color: red; background-color: black; text-align: center;}
.bangladesh{color: red; text-align: center;}

.about{color: white; background-color: green; text-align: center;}
.cox{color: blue; text-align: center;}

.for{color: green; background-color: black; border: 5px solid red;}
#service{color: white; background-color: blue;}
#file{color: blue; background-color: orange;}